@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="admin-profile-info col-xs-12 col-sm-6">
            <h3>Александр Рахуба<span>Admin</span></h3>
            <h5>alex.rahuba@gmail.com</h5>
            <button class="btn-lg">Редактировать</button>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="new-room">
                <button class="btn-lg">Новая комната</button>
                <button class="btn-lg">Сменить пароль</button>
                <h6>Новая комната успешно добавлена</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h5>Забронированные комнаты</h5>
        </div>
    </div>
</div>