body {
	color: #848484;
}


button.btn-lg {
	background-color: #438E11;
	color: #ffffff;
	border-radius: 3px;
	border: 0;
	font-weight: 300;
	font-size: 18px;
	/*padding: 14px 26px;*/
}

button.btn-lg:hover {
	color: yellow;
}

h3 {
	font-size: 38px;
	font-weight: 200;
}

h5 {
	font-size: 18px;
	font-weight: 200;
}

.navbar {
	background-color: #ffffff;
	box-shadow: 1px 4px 5px -5px #848484;
	font-weight: 200;
}

.navbar div.email {
	font-size: 18px;
}

.navbar ul li a span {
	display: block;
	text-align: center;
}

.navbar ul li a span.exit {
	font-size: 18px;
	border-left: solid 1px #848484;
	padding: 4px 20px;
}

.admin-profile-info {
	color: #434343;
	margin-top: 20px;
}

.admin-profile-info span {
	font-size: 26px;
	color: #999A99;
	padding-left: 18px;
}

.new-room {
	text-align: right;
}

.new-room button{
	/*margin: 40px 0 20px 10px;*/
}

.new-room div {
	/*display: inline-block;*/
}

.new-room h6 {
	margin-right: 70px;
}

.footer {
    background: #434343;
}